[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gymnasium = "*"
tensorflow = "*"
keras = "*"
numpy = "*"
tqdm = "*"
pygame = "*"

[dev-packages]

[requires]
python_version = "3.13"
